<div class="tweet-form-container">
  <div class="tweet-form-header">
    <img src="profile-picture.jpg" alt="User's Profile" class="profile-pic">
    <h5>What's Happening?</h5>
  </div>
  <div class="tweet-form-footer">
    <%= simple_form_for [@user, @tweet] do |f| %>
      <%= f.input :description, label: false, placeholder: "Write your tweet...", as: :text, input_html: {rows: 2}, wrapper: false %>
      <%= f.button :submit, 'Tweet', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
