<div class="tweet-card">
  <div class="tweet-header">
    <%= image_tag "blank-profile", alt: "Profile", class: "tweet-form-pic col-1" %>
    <div class="user-info ">
      <span class="username m-1"><%= tweet.user.username %></span>
      <span class="handle m-1">@<%= tweet.user.username %></span>
      <span class="tweet-time m-1">2m ago</span>
    </div>
  </div>
  <div class="tweet-content">
    <p><%= tweet.description %></p>
  </div>
  <div class="tweet-actions">
    <i class="fa-regular fa-comment"></i>
    <i class="fa-solid fa-retweet"></i>
    <i class="fa-regular fa-heart"></i>
  </div>
</div>
<hr>
