.main {
  border-color: black;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 8px;
  padding-bottom: 10px;
}
.submain{
  position: relative;
}


html, body {
  height: 100%;
  margin: 0;
  background-color: #bff0f5;
}
