/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


.tweet-card {
  background-color: #ffffff;
  width: 100%;
  padding: 0px 15px;
  font-family: Arial, sans-serif;
}


.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.tweet-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.user-info {
  display: flex;
  flex-direction: row;
  margin: 4px;
}

.username {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.handle {
  color: #888888;
  font-size: 0.9em;
}

.tweet-time {
  color: #888888;
  font-size: 0.8em;
}

.tweet-content {
  margin-top: 10px;
  color: #333333;
  text-align: left;
}

.tweet-content p {
  font-size: 1em;
  line-height: 1.4;
}


.tweet-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.action-btn {
  background: none;
  border: none;
  color: #07a4ff;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.2s;
}

.action-btn:hover {
  color: #006bb3;
}
