/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.tweet-form-container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
}


.tweet-form-header {
  display: flex;
  align-items: flex-start;
}

.tweet-form-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0px;
}

.tweet-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  outline: none;
  transition: border 0.3s ease;
}

.tweet-input:focus {
  border-color: #1da1f2;
}


.tweet-form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.tweet-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tweet-button:hover {
  background-color: #1991d0;
}

.tweet-button:disabled {
  background-color: #a5c8f1;
  cursor: not-allowed;
}
